/* base */
@import './base/reset.css';
@import './base/variables.css';
@import './base/layout.css';

/* 3rd-party */
@import './3rd-party/font-awesome.min.css';

/* components */
@import './components/button.css';
@import './components/gallery.css';
@import './components/services.css';

/* CUSTOM HOME PAGE STYLE BELOW THIS COMMENT LINE */

.bg-light {
  background-color: var(--light-color);
}
.bg-grey {
  background-color: var(--grey-color);
}
.bg-dark {
  background-color: var(--dark-color);
}

/* HEADER START */
header.container {
  padding-top: 0;
  padding-bottom: 0;
}
/* HEADER END */

/* HERO START */
.hero {
  min-height: 100vh;
  background-color: #05334d;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* HERO END */

/* ABOUT ME START */
/* ABOUT ME END */

/* SERVICES START */
/* SERVICES END */

/* PORTFOLIO START */
/* PORTFOLIO END */

/* TESTIMONIALS START */
/* TESTIMONIALS END */

/* ACHIEVEMENTS START */
/* ACHIEVEMENTS END */

/* BLOG START */
/* BLOG END */

/* CONTACT US START */
/* CONTACT US END */

/* FOOTER START */
footer.container {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #ccc;
  text-align: center;
}
/* FOOTER END */
